@media print {
    body {
        font-size: 12pt;
    }
    #main > .main {
        padding: 0;
    }

    #main .features .icon {
        display: none;
    }

    #nav {
        display: none;
    }

    #post .main.image {
        display: none;
    }
}